body{
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%; 
}
.topic{
    font-size: 20px;
    font-weight: bold;
    background-color: antiquewhite;
}

.content{
    font-size:18px
}
.igirisu{
    height: 30%;
    width:  30%;
}