body{
    margin-left: 400px;
    margin-right: 400px;
    font-size: 12px;
}
.topic{
    font-size: 20px;
    font-weight: bold;
    background-color: antiquewhite;
}

.content{
    font-size:18px
}
.igirisu{
    height: 30%;
    width:  30%;
}